<div class="comment" data-id=<%= CommentID %>>
    <p class="comment__innertext">
        <%= InnerText %>
    </p>
    <p class="comment__author">Left by <span id="author_id<%= CommentID %>"> <%=  Author %></span></p>
    
    <div class="likes__and__dislikes">
        <div class="likebutton">&#128077;<p class="comment__likes"><span id="likes_id0001"><%= Likes %></span></p></div>
        <div class="dislikebutton">	&#128078;<p class="comment__dislikes"><span id="dislikes_id0001"><%= Dislikes %></span></p></div>
    </div>
    
</div>